{% extends 'biodeversidad_app/_common/base.html' %}
{% block main %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Catálogo de especies de nuestra reserva</h1>
                </div>
                {# TODO hacer que el listado sea dinámico #}
                {% for species in '1234567' %}
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        {% include 'biodeversidad_app/_elements/_species-preview.html'  %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}