{% extends 'biodeversidad_app/_common/_base.html' %}
{% block main %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Catálogo de especies de nuestra reserva</h1>
                </div>
                {% for species in species_list %}
                    <div class="col-xs-12 col-sm-6 col-md-3">
                   {% include 'biodeversidad_app/_elements/_species-preview.html' %}
                    </div>
                {% endfor %}
                {% comment %}
                <div class="col-xs-12">
                    {% include 'biodeversidad_app/_common/_pagination.html' %}
                </div>
                {% endcomment %}
            </div>
        </div>
    </section>

{% endblock %}