<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#biodiversidad-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'biodiversidad:index' %}">Biodiversidad G2</a>
        </div>
        <div class="collapse navbar-collapse" id="biodiversidad-navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'biodiversidad:index' %}">Catalogo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#sign-up-modal">
                        <i class="fa fa-user"></i> Registrarse
                    </a>
                </li>
                <li>
                    <a href="{% url 'biodiversidad:login' %}">
                        <i class="fa fa-sign-in"></i> Ingresar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% include 'biodiversidad_app/_elements/_modal-sign-up.html' %}