<div id="sign-up-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center modal-title">Registro</h3>
            </div>
            <div class="modal-body">
                {% include 'biodiversidad_app/_forms/user_registration.html' %}
                {#% include 'biodiversidad_app/_forms/registro_usuario.html' %#}
            </div>
        </div>
    </div>
</div>