
<div class="panel panel-default">
    <div class="panel-heading" style ="height: 40px;">
        <button type="button" class="close closeDetalle" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="panel-body">
        <img src="{{ specie.picture.url }}" class="img-responsive center-block col-lg-6 col-sm-12 col-md-6" style="max-height: 250px" alt="Imagen de la especie">
        <ul class="list-group col-lg-6 col-sm-12 col-md-6">
          <li class="list-group-item text-center"><strong>Nombre de la especie:</strong> <br>{{ specie.name }}</li>
          <li class="list-group-item text-center"><strong>Clasificación Taxonómica:</strong> <br>{{ specie.taxonomic_classification }}</li>
          <li class="list-group-item text-center"><strong>Nombre Científico:</strong> <br>{{ specie.scientific_name }}</li>
          <li class="list-group-item text-center"><strong>Categoría:</strong> <br>{{ specie.fk_category.name }}</li>
        </ul>

        <div class="species-detail-description col-lg-12 col-sm-12 col-md-12">
            <p><strong>Descripción:</strong> <br>{{ specie.long_description }}</p>
        </div>
        <br>
        <div class="col-lg-12 col-sm-12 col-md-12">
        <h2>Comentarios</h2>
        <form method="post" action="{% url 'biodiversidad:addComment' species_id=specie.id  %}">
         {% csrf_token %}
            <div class="col-lg-12 col-sm-12 col-md-12">
                {% if not user.is_authenticated %}
                     <input type="email"  name="email" class="form-control" id="kontakt-email" placeholder="Ingresa tu Correo">
                {% else %}
                    <textarea name="email" type="email" class="form-control" id="kontakt-email" style="display:none">{{ user.email }}</textarea>
                {% endif %}
                <textarea name="comentario" type="comentario" class="form-control" id="kontakt-nachricht" rows="5" placeholder="Ingresa tu Comentario"></textarea>
                <input type="submit" value="Enviar" class="btn btn-primary">
            </div>
         </form>

        <ul>
            {% for comment in comments %}
                <div class="col-xs-12 col-sm-12 col-md-12">
                   <li>
                       <p>
                           {{ comment.comment }}<br>
                           Por: {{ comment.email }}<br>
                           Fecha:{{ comment.date_created }}<br>
                       </p>
                   </li>
                </div>
            {% endfor %}
        </ul>
        </div>

    </div>
</div>