{% extends 'biodiversidad_app/_common/_base.html' %}
{% load static %}
{% block main %}
    <script src="{% static 'biodiversidad_app/scripts/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script>
        function cargar_species() {
            var id_categoria = $('select#category').val();
            var data = {'id_categoria': ''};
            if (id_categoria !== 'Todos') {
                data.id_categoria = id_categoria;
            }
            $.ajax({
                url: "https://g2-biodiversidad-miso.herokuapp.com/api/get/species",
                type: "get",
                data: data,
                success: function (response) {
                    var container = $('div#species-container');
                    container.html('');
                    //{{ species.fk_category.name }}
                    var result = '';
                    var array = response.species;
                    for (var i = 0 ; i < array.length;i++) {
                        console.log(array[i].name);
                        result += '<div class="col-xs-12 col-sm-6 col-md-3">';
                        result += '<div class="panel panel-default">';
                        result += '<div class="panel-heading">';
                        result += '<h3 class="text-center">' + array[i].fk_category_name + '</h3>';
                        result += '</div>';
                        result += '<div class="panel-body">';
                        result += '<div style="height: 305px;">';
                        result += '<img src="'+ array[i].picture + '"' +'class="img-responsive center-block" style="max-height: 300px;" alt="Imagen de la especie">';
                        result +=  '</div>';
                        result += '<h4 class="text-center">'+ array[i].name +'</h4>';
                        result += '<div class="species-preview-description">';
                        result +=  array[i].short_description ;
                        result += '</div>';
                        result += '<button type="button" class="botonVerDetalle  verDetalle" name="' +  array[i].id + '" style="float: right; vertical-align:middle"><span>Ver Detalle</span></button>';
                        result += '</div>';
                        result += '</div>';
                        result += '</div>';

                    }
                    container.html(result);
                    addListener();
                },
                error: function (xhr) {
                    console.log(response);
                }
            });
        }

        $(document).ready(function () {
            cargar_species();
        });
    </script>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Catálogo de especies de nuestra reserva</h1>
                </div>
                {% csrf_token %}
                <div align="center">
                    <h3>Categorias</h3>
                    <select name="category" id="category">
                        <option selected value="Todos">Todos</option>
                        {% for category in category_list %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary" onclick="cargar_species()">> Buscar</button>
                </div>
                <br>
                <div id="species-container">

                </div>
                {% comment %}
                {% for species in species_list %}
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        {% include 'biodiversidad_app/_elements/_species-preview.html' %}
                    </div>
                {% endfor %}
                <div class="col-xs-12">
                    {% include 'biodiversidad_app/_common/_pagination.html' %}
                </div>
                {% endcomment %}

                <!-- Modal -->
                <div class="modal fade" id="detalleEspecie" role="dialog"></div>

            </div>
        </div>
    </section>

{% endblock %}